/* import Roboto fonts */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

/* universal selector applies to everything */
*{
    /* this ensures if we add padding or border to an element, it doesn't affect the width of it.  */
    box-sizing: border-box; 
}
body{
    /* apply the Roboto font */
    font-family: 'Muli', sans-serif; 
    display: flex; 
     /*since it's a flex box, this centers it horizontally. */   
    align-items: center;
    /* this centers the content vertically, the caveat is that a height must be set first for the flex box*/
    justify-content: center; 
    /*set the entire height to cover the viewport */
    height: 100vh;
    /*set to hidden so that scrollbars do not show by default*/
    overflow: hidden;
   margin:0
}

.container{
    display: flex;
    width: 90vw; /*vw= view width*/
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5; /*this is the flex width. All panels will be the same width*/
    margin:5px;
    position: relative;
    transition: flex 1s ease-in; /*apply a 1 second transition to the flex width*/
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom:20px; /*that is 20px from the bottom*/
    left:20px;/*that is 20px from the left*/
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5; /*set the active panel width to be more than the remaining panels*/
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 1s;
}


@media (max-width:480px) {
    .container{
        width: 100vw;
    }

    /* applies to only the 4th and 5th panels */
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}